*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: white;
}

.page-container{
    height: 100vh;
    width: 100vw;
}

.navbar{
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(83, 83, 83);
}

.navbar-nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navbar-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(25%);
    transition: transform 0.5s ease-in-out;
}

.navbar-item > a:visited,a:link{
    color: white;
    text-decoration: none;
}

.link-text{
    opacity: 0;
    transition: opacity 0.75s linear;
}

.navbar-item > a:hover{
    color:rgb(57, 219, 92);
    transform: translateY(0);
}

.navbar-item > a:hover .link-text{
    opacity: 1;
}

/*animation for navbar clicking*/

.navbar-item{
    flex-grow: 1;
    transition: all 1000ms linear;
}

.removed{
    flex-grow: 0;
    width: 0;
    font-size: 0;
}

.added{
    flex-grow: 1;
    width: 1;
    font-size: 16px;
}

/*index page*/

h1,h2,h3{
    position: relative;
}

h2,h3{
    margin-top: 6%;
}

.content{
    width: 100vw;
    height: 90vh;
    background-color: rgb(29, 29, 29);
}

.home-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.typed1{
    overflow: hidden;
    margin-left: 0;
    white-space: nowrap;
    animation: typing 2s steps(50, end) forwards;
    width: 0;
}

.typed2{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards;
    animation-delay: 1s;
    width: 0;
}

.typed3{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards;
    animation-delay: 3s;
    width: 0;
}

.fa-arrow-down{
    position: relative;
    opacity: 0;
    animation: fadeIn 2s forwards 4.5s, bounce 1s linear infinite;
}

/*work page content*/

.work-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-center-icon{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: rgb(57, 219, 92);
}

.work-menu{
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-menu li{
    height: auto;
    width: auto;
    left: -150px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    transition: all 0.75s;
    transform-origin: 170px;
    transform: rotate(calc(360deg / 5 * var(--i)));
}

.work-menu > li > i{
    height: 65px;
    width: 65px;
    border-radius: 50%;
    padding: 6px;
    transform: rotate(calc(360deg / -5 * var(--i)));
}

.work-menu > li > p{
    transform: rotate(calc(360deg / -5 * var(--i)));
    font-size: 12px;
}

.work-menu > li:hover{
    color:rgb(57, 219, 92);
    
}

/*about page content*/
.about-content{
    height: 100%;
    width: 100%;
    border: 2px solid yellow;
}

/*contact page content*/
.contact-content{
    height: 100%;
    width: 100%;
    border: 2px solid green;
}

@keyframes typing{
    from {width: 0}
    to {width: 100%}
}

@keyframes bounce{
    0%, 100%{
        bottom: 0;
    }
    50%{
        bottom: 15px;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

