*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
}

.page-container{
    height: 100vh;
    background-color: rgb(29, 29, 29);
}

.navbar{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background-color: gray;
}

.navbar-nav{
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navbar-item {
    text-align: center;
}

.navbar-item > a:visited,a:link{
    color: white;
    transition: color 0.8s;
    text-decoration: none;
}

.navbar-item > a:hover,a:active{
    color:rgb(57, 219, 92);
}

.link-text{
    
}
