*{
    margin: 0;
    box-sizing: border-box;
}

.page-container{
    height: 100vh;
    background-color: rgb(29, 29, 29);
    padding-top: 3vh;
}

nav > ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    list-style: none;
}

nav > ul > li {
    margin-left: 2.5%;
    margin-right: 2.5%;
    padding: 0.5rem;
}

nav > ul > li > a:visited,a:link{
    color: white;
    text-decoration: underline;
    text-underline-offset: 1vh;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;;
    font-weight: bold;
    transition: color 0.8s;
}

nav > ul > li > a:hover,a:active{
    color:rgb(57, 219, 92);
}

h1,h2 {
    color: white;
    text-align: center;
    margin-top: 10vh;
}