*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

:root{
    font-size: 16px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: white;
}

.page-container{
    height: 100vh;
    width: 100vw;
}

.navbar{
    height: 10vh;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: rgb(83, 83, 83);
}

.navbar-nav{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.navbar-item a{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(25%);
    transition: transform 0.5s ease-in-out;
}

.navbar-item > a:visited,a:link{
    color: white;
    text-decoration: none;
}

.link-text{
    opacity: 0;
    transition: opacity 0.75s linear;
}

.navbar-item > a:hover{
    color:rgb(57, 219, 92);
    transform: translateY(0);
}

.navbar-item > a:hover .link-text{
    opacity: 1;
}

/*animation for navbar clicking*/

.navbar-item{
    flex-grow: 1;
    transition: all 1000ms linear;
}

.removed{
    flex-grow: 0;
    width: 0;
    font-size: 0;
}

.added{
    flex-grow: 1;
    width: 1;
    font-size: 16px;
}

/*index page*/

h1,h2,h3{
    position: relative;
}

h2,h3{
    margin-top: 6%;
}

.content{
    width: 100vw;
    height: 90vh;
    background-color: rgb(29, 29, 29);
}

.home-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
}

.typed1{
    overflow: hidden;
    margin-left: 0;
    white-space: nowrap;
    animation: typing 2s steps(50, end) forwards;
    width: 0;
}

.typed2{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards;
    animation-delay: 1s;
    width: 0;
}

.typed3{
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2.5s steps(50, end) forwards;
    animation-delay: 3s;
    width: 0;
}

.fa-arrow-down{
    position: relative;
    opacity: 0;
    animation: fadeIn 2s forwards 4.5s, bounce 1s linear infinite;
}

/*work page content*/

.work-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-center-icon{
    text-align: center;
    color: rgb(57, 219, 92);
}

.work-menu{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.work-menu-item{
    border: 2px solid rgb(57, 219, 92);
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.work-menu-item:hover{
    background-color:rgb(66, 66, 66);
}

#web-dev > span{
    display: none;
}

#sec-dev > .fa-unlock{
    display: none;
}

#web-dev:hover > i{
    z-index: 2;
    animation: spider 2s ease-in-out infinite forwards;
}

#web-dev:hover > span{
    top: 0;
    display: block;
    position: absolute;
    transform: scaleY(2550%);
}

#sec-dev:hover > .fa-lock{
    display:none;
}

#sec-dev:hover > .fa-unlock{
    display:block;
}

#java-dev span{
    display:none;
}

#java-dev:hover > span{
    position: absolute;
    display: block;
    background: white;
    border: 1px solid rgb(57, 219, 92);
    width: 10px;
    height: 25px;
    top: 100px;
    margin: 0 2px;
    border-radius: 50%;
    animation: vapour 2.5s linear infinite;
    opacity: 0;
    filter: blur(2.5px);
    animation-delay: calc(var(--i) * -0.5s)
}

#func-dev:hover > i{
    animation: rotate 1s linear infinite;
}

/*about page content*/
.about-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-content img{
    margin-bottom: 2%;
}

.about-content > p{
    margin-bottom: 3%;
}

.about-content ul{
    list-style: none;
}

.about-content li{
    display: flex;
}

.about-content i{
    margin-right: 3px;
}

.about-content p{
    margin: 3px;
    text-align: left;
}

.about-content a{
    margin-top: 3%;
    text-decoration: underline;
    text-underline-offset: 3px;
}

/*contact page content*/
.contact-content{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    height: 30rem;
    width: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.names{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.names > label,input{
    margin: 0.25rem;
    padding: 0.25rem;
}

#email{
    width: 25rem;
}

#subject{
    width: 25rem;
}

form > textarea{
    width: 25rem;
    height: 5rem;
    padding: 1rem;
}

form > input{
    padding: 0.5rem;
}

.input{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.input input{
    height: 2.5rem;
    width: 50%;
    background-color: rgb(83, 83, 83);
    outline: none;
    border: 2px solid rgb(57, 219, 92);
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    color: white;
}

.input input:hover{
    background-color: rgb(117, 117, 117);
}

@keyframes typing{
    from {width: 0}
    to {width: 100%}
}

@keyframes bounce{
    0%, 100%{
        bottom: 0;
    }
    50%{
        bottom: 15px;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes spider{
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translateY(75%);
    }
    50%{
        transform: translateY(150%);
    }
    75%{
        transform: translateY(75%);
    }
    100%{
        transform: translateY(0%);
    }
}

@keyframes vapour{
    0%{
        transform: translateY() scaleX(1);
    }
    15%{
        opacity: 0.75;
    }
    50%{
        transform: translateY(-10px) scaleX(2.5);

    }
    95%{
        opacity: 0;
    }
    100%{
        transform: translateY(-30px) scaleX(5);
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    100%{
        transform: rotate(360deg);
    }
}